.ArtistHome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ArtistHeader {
    background-color: lightblue;
    padding: 10px;
    margin:0;
    width: 100%;
    box-sizing: border-box;
  }
  
   .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 10px;
    width: 25%; 
    text-align: center; 
  }
  
  .nav-links img {
    width: 100%; 
    height: auto; 
  }
  
  .image-container {
    border: 20px solid #dce3e6;
    width: 300px; 
    height: 480px; 
    border-radius: 20px;
    padding: px;
    margin: 10px; 
    background-color: #95b38f;
  }
  
  
  .artworkImage {
    max-height: 380px; 
  }
  
  .museumImage {
    max-height: 380px; 
  }
  
  .artistText, .artworkText,  .museumText{
    text-align:center;
    margin-top: 10px;
    color: black;
  } 
 
  body {
    background-color: #f5f5dc;
  }
  
  
  
  
  