.ArtistHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .ArtistHeader {
    background-color: lightblue;
    padding: 10px;
    margin:0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
  
   .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 10px;
    width: 25%; 
    text-align: center; 
  }
  
  .nav-links img {
    width: 100%; 
    height: auto; 
  }
  
  .image-container {
    border: 20px solid #dce3e6;
    width: 300px; 
    height: 480px; 
    border-radius: 20px;
    padding: px;
    margin: 10px; 
    background-color: #95b38f;
  }
  
  
  .artworkImage {
    max-height: 380px; 
  }
  
  .museumImage {
    max-height: 380px; 
  }
  
  .artistText, .artworkText,  .museumText{
    text-align:center;
    margin-top: 10px;
    color: black;
  } 
 
  body {
    background-color: #f5f5dc;
  }


.PageHeader {
  text-align: left;
  width: 100%;
  padding: 10px 20px;
  margin-top: 0;
  background-color: lightblue; 
  box-sizing: border-box;
}



.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  width: 100%; 
  max-width: 500px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 

  max-width: 500px; 
}


.inputContainer > label {
  width: 100%;
  margin-bottom: 5px; 
}

.inputStyle, .buttonStyle {
  width: 100%; 
  padding: 10px;
  margin: 5px 0; 
  border: 1px solid #ccc;
  border-radius: 4px;
}


.inputStyle, .inputContainer > textarea {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.buttonStyle {
  width: auto; 
  padding: 10px 20px;
  margin-top: 10px; 
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; 
}


.errorMessage, .successMessage {
  color: #d9534f; 
  padding: 10px;
  margin-top: 20px;
}

.successMessage {
  color: #5cb85c; 
}
  

.artistIdInput {
  width: 100%; 
}

  
  
  