html, body {
    height: 100%;
  }
  
  .adminContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure adminContainer takes up at least the full height of the viewport */
  }
  
  /* Adjust margin-top of footer to push it away from the content */
  footer {
    margin-top: auto; /* Push footer to the bottom of the page */
  }